body {
  background-image: url("https://pbs.twimg.com/profile_images/490892778843668480/gdXnfYix.jpeg");
  background-repeat: repeat;
}

.header {
 color:red;
  border: 3px solid black;
  background-color:grey;
  padding:8px;
  font-size:60px;
  text-align:center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.avocadoStuff {
  font-size:20px;
  font-family:Arial;
  background-color: #472291;
  border: 2px dashed #222f91;
  padding:6px;
  text-align:center;
  color:white;
}

#avocadoHeader {
  font-family:"Times New Roman", Serif;
  font-size:28px;
  color:#ff6b6b;
}
